.percentage {
  position: relative;
  width: 100px;
  height: 100px;
}

.percentage svg {
  position: relative;
  width: 100px;
  height: 100px;
}

.percentage svg circle {
  width: 100px;
  height: 100px;
  fill: none;
  stroke-width: 5;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
}

.percentage svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #e8e8e8;
}

.percentage svg circle:nth-child(2) {
  stroke-dashoffset: calc(190 - (190 * 65) / 100);
  stroke: #3596eb;
}
